<a href="https://colab.research.google.com/github/anand1994sp/MACHINE-LEARNING-PROJECTS/blob/main/Decision_Tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#CART -Gini index
#C 4.5-Information gain
#ID 3-Information gain
# C 5-Information gain

In [2]:
#attribute- selection - measures: Entropy 0=pure node=all belongs to same class,0.5 mixed , Information

In [ ]:
#0 to 1

Entropy can be calculated for a random variable X with k in K discrete states as follows: H(X) = -sum(each k in K p(k) * log(p(k)))

In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv("/content/HeartDisease.csv")

In [5]:
df.head(4)

,age,gender,chest_pain,rest_bps,cholestrol,fasting_blood_sugar,rest_ecg,thalach,exer_angina,old_peak,slope,ca,thalassemia,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  303 non-null    int64
 1   gender               303 non-null    int64
 2   chest_pain           303 non-null    int64
 3   rest_bps             303 non-null    int64
 4   cholestrol           303 non-null    int64
 5   fasting_blood_sugar  303 non-null    int64
 6   rest_ecg             303 non-null    int64
 7   thalach              303 non-null    int64
 8   exer_angina          303 non-null    int64
 9   old_peak             303 non-null    float64
 10  slope                303 non-null    int64
 11  ca                   303 non-null    int64
 12  thalassemia          303 non-null    int64
 13  target               303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [7]:
df.shape

(303, 14)

In [9]:
df["target"].value_counts()

1    165
0    138
Name: target, dtype: int64

In [10]:
x=df.drop("target",axis=1)
y=df["target"]

In [15]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
x=ss.fit_transform(x)

In [27]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,stratify=y,random_state=23,train_size=0.8)

In [28]:
from sklearn.tree import DecisionTreeClassifier
ds=DecisionTreeClassifier(max_depth=4,random_state=0)
ds=ds.fit(xtrain,ytrain)

In [29]:
from sklearn.metrics import accuracy_score
xpredt=ds.predict(xtrain)
accuracy_score(ytrain,xpredt)

0.8884297520661157

In [30]:
ypred=ds.predict(xtest)
accuracy_score(ytest,ypred)

0.7704918032786885

In [31]:
df.head(1)

,age,gender,chest_pain,rest_bps,cholestrol,fasting_blood_sugar,rest_ecg,thalach,exer_angina,old_peak,slope,ca,thalassemia,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1

In [32]:
input=[6,1,3,145,	233,	1,	0,	150,	0,	2.3,	0,	0,	1]

In [34]:
input=np.array(input)

In [35]:
input=input.reshape(1,-1)

In [36]:
input=ss.transform(input)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

In [37]:
predict=ds.predict(input)

In [38]:
if(predict[0]==1):
  print("Heart Disease")
else:
  print("No Heart Disease")

Heart Disease